%% -*- erlang -*-

Env = fun(V, Def) ->
          case os:getenv(V) of
            false -> Def;
            Str when is_integer(Def) -> list_to_integer(Str);
            Str when is_atom(Def) -> list_to_atom(Str);
            Str -> Str
          end
      end.

IPPort = fun(IP, Port) ->
             IP ++ ":" ++ integer_to_list(Port)
         end.

MyPort      = Env("RVI_PORT", 9000).
MyIP        = Env("RVI_MYIP", "127.0.0.1").
MyNodeAddr  = Env("RVI_MY_NODE_ADDR", IPPort(MyIP, MyPort)).
BackendIP   = Env("RVI_BACKEND", "38.129.64.31").
BackendPort = Env("RVI_BACKEND_PORT", 8810).
LogLevel    = Env("RVI_LOGLEVEL", notice).

[
 {include_lib, "rvi_core/priv/config/rvi_common.config"},

 {env,
  [
   {rvi_core,
    [
     { node_address, MyNodeAddr },
     { node_service_prefix, "genivi.org/device/$rvi_env(DEVICE_ID,V1234567890123456)/"},

     { routing_rules,
       [{ "",                    [{ proto_json_rpc, dlink_tcp_rpc }] },
        { "genivi.org/backend/", [{ proto_json_rpc, { dlink_tcp_rpc, [{ target, IPPort(BackendIP, BackendPort) }] } }] }] },

     { components,
       [{ rvi_common,        [{ rvi_log,               gen_server, [{ json_rpc_address, MyPort+9 }] }] },
        { service_edge,      [{ service_edge_rpc,      gen_server, [{ json_rpc_address, { MyIP, MyPort+1 } }] }] },
        { service_discovery, [{ service_discovery_rpc, gen_server, [{ json_rpc_address, { MyIP, MyPort+2 } }] }] },
        { schedule,          [{ schedule_rpc,          gen_server, [{ json_rpc_address, { MyIP, MyPort+3 } }] }] },
        { authorize,         [{ authorize_rpc,         gen_server, [{ json_rpc_address, { MyIP, MyPort+4 } }] }] },
        { protocol,          [{ proto_json_rpc,        gen_server, [{ json_rpc_address, { MyIP, MyPort+5 } }] }] },

        { data_link, [{ dlink_tcp_rpc, gen_server, [{ server_opts, [{ port, MyPort+7  }] },
                                                    { persistent_connections, [ IPPort(BackendIP, BackendPort) ] }] },
                      { dlink_tls_rpc, gen_server, [{ server_opts, [{ port, MyPort+10 }] }] }] }
       ]
     }
    ]
   }
  ]
 }
].
